*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: '72 Condensed', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 1rem;

    background-color: blueviolet;
}

.title-row{
    width: 100%;
    text-align: center;
}

.title{
    font-size: 60px
}

.user-button-container{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-self: center;
    width: clamp(200px, 30vw, 400px);

    height: 5%;
}
.user-button{
    width: clamp(120px, 10vw, 250px);
}

.list-container{
    background-color: red;
    display: flex;
    flex-direction: column;

    align-self: center;

    width: clamp(200px, 40vw, 500px);

    height: 80vh;

    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
