<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REST-Api</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" href="../static/css/index.css">
    <script defer src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</head>
<body>
    <div class="container">
        <div class="title-row">
            <h1 class="title">ToDolo</h1>
        </div>

        <div class="user-button-container">
            <button id="addButton" class="user-button">Add</button>
            <button id="removeButton" class="user-button">Remove</button>
        </div>

        <div class="input-row">
            <input id="taskInput" class="taskInput" type="text" placeholder="Input your task here then click on add">
        </div>

        <div class="list-container" id="taskList">

        </div>
    </div>
</body>
</html>